:root {
  --green-color: #0afe60;
  --greendark-color: #03240e;
}

body {
  color: white;
  background-color: #000000;
  margin: 0;

  /* cursor: url("/img/cursor/terminal_cursor.png"), auto; */
}

@font-face {
  font-family: SevastopolInterface;
  src: url(/font/Sevastopol-Interface.ttf);
}

/* INDEX MENU */
.projectpage-index-menu-wrapper {
  position: fixed;
  top: 40%;
  left: 15%;
}

.projectpage-index-menu-item:hover {
  border-color: var(--green-color);
}

.projectpage-index-menu-item {
  width: 50px;
  height: 50px;
  text-align: center;
  border: dashed 2px var(--greendark-color);
}

.projectpage-imglogo {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 32px;
}

:target:not(button) {
  -webkit-animation: target-fade 2s 1;
  -moz-animation: target-fade 2s 1;
}

@-webkit-keyframes target-fade {
  0% { background-color: rgba(255, 0, 0, 0.25); }
  100% { background-color: rgba(255, 0, 0, 0); }
}

@-moz-keyframes target-fade {
  0% { background-color: rgba(255, 0, 0, 0.25); }
  100% { background-color: rgba(255, 0, 0, 0); }
}

/* iframe {
  max-width: 100%;
  max-height: 75%;
} */

.wrapper {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  /* background-color: #cfcfcf; */
}

.h_iframe {
  position: relative;
  padding-top: 56%;
}

.h_iframe iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;

  border: 2px solid var(--greendark-color);
  border-radius: 8px;
  border-style: dashed;
}

hr {
  border: 2px dashed var(--greendark-color);
}

.projectpage-colorthemes-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.projectpage-colorthemes-item {
  background-color: white;
  width: 75px;
  height: 75px;
  text-align: center;

  margin-right: 16px;
}

.projectpage-image-block:hover {
  border: dashed 2px var(--green-color);
  border-style: dashed;
}


.projectpage-image-block {
  width: 300px;
  height: 250px;
  position: relative;
  border: 2px solid var(--greendark-color);
  border-radius: 8px;
  border-style: dashed;
}

.projectpage-colorthemes-item > span {
}