.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  height: 100px;
  z-index: 999;
}

.name-header {
  font-weight: 700;
  font-size: 2.25em;
}

.header-right-section, .header-left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-button {
  font-size: 18px;
}