:root {
  /* BACKGROUND GRID */
  --background-color: #0f0f0f;
  --background-plus-color: #193364;

  /* GENERAL */
  --orange-color: #F19D38;

  /* COLOR PALETTE*/
  --palette-blue: #002B36;
  --palette-blue-light: #004050;
  --palette-yellow: #FFE47A;
  --palette-brown: #A85E44;
}

html {
  scroll-behavior: smooth;
}

/* GENERAL */
* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  color: white;
  background-color: var(--background-color);
  margin: 0;

  /* cursor: url("/img/cursor/terminal_cursor.png"), auto; */
}

a {
  color: var(--orange-color);
  text-decoration: underline;
  /* text-decoration: none; */
  /* cursor: url("/img/cursor/terminal_cursor_pointer.png"), auto; */
}

.bold {
  font-weight: 600;
}

.tiny-text {
  font-size: 16px;
}

/* NAVBAR */

nav {
  position: fixed;
  display: flex;
  align-items: center;
  height: 64px;
  z-index: 999;
  /* background: linear-gradient(#000000, rgba(145, 152, 229, 0)); */
  background: linear-gradient(rgba(0, 0, 0, 0.651) 10%, rgba(80, 80, 80, 0) 100%);;
  width: 100%;
}

nav div {
  width: 100px;
  margin-left: 32px;
  margin-bottom: 0;
  border-bottom: 2px solid white;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25em;
}

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f0f0f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}