:root {
  --background-rgb: 29 30 34;
  
  --blue-rgb: 33 150 243;
  --primary-rgb: var(--blue-rgb);

  --border-green-rgb: rgba(123, 196, 120, 1);
  --screen-border-torqblue: rgba(162, 227, 216, 0.75);

  --screen-background-black-rgb: rgba(0, 0, 0, 0.75);

  --white-glow: rgb(255, 240, 210);
}

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  /* Fonts: Poppins, Plus Jakarta Sans, Inter, Poppins */
  font-family: Poppins, Arial, sans-serif;
  color: white;
  background-color: #0a0a0a;
  margin: 0;

  cursor: url("/img/cursor/terminal_cursor.png"), auto;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: linear;
}

a {
  color: white;
  text-decoration: none;
  /* text-decoration: none; */
  /* cursor: url("/img/cursor/terminal_cursor_pointer.png"), auto; */
}

/* HERO */

.hero-light {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 30px rgb(255, 250, 240),
    0 0 100px 60px rgba(255, 250, 238, 0.75),
    0 0 140px 90px rgba(255, 246, 228, 0.5);
}

/* STICKY BAR */

.screen {
  border: 1px solid var(--screen-border-torqblue);
  background-color: var(--screen-background-black-rgb);
  border-radius: 0.6rem;
}

.screen:after,
.screen:before {
  content: "";
  height: 5px;
  position: absolute;
  z-index: 4;
  left: 50%;
  translate: -50% 0%;
  background-color: white;
  box-shadow: 0px 0px 10px 1px var(--white-glow);
}

.screen:before {
  width: 65%;
  top: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.screen:after {
  width: 45%;
  bottom: 0rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.stickybar {
  position: fixed;
  top: 40%;
  left: 0.5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0;
  z-index: 3;
  color: black;
}

.stickybar-item {
  padding: 15px;
}

.stickybar-item-top {
  padding-bottom: 10px;
}

.stickybar-item-bottom {
  padding-top: 10px;
}

.stickybar-item > i {
  font-size: 2em;
  display: block;
  color: white;

  text-shadow: 0px 0px 0.5rem var(--white-glow);
}

/* FOOTER */

.footer-wrap {
  display: none;
}