:root {
  /* BACKGROUND GRID */
  --background-color: #15161d;
  --background-plus-color: #193364;

  /* GENERAL */
  --border-color: #24669d;
  --gold-color: #ffd900;

  --orange-color: #F19D38;
}

/* GENERAL */
* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  color: white;
  background-color: var(--background-color);
  margin: 0;

  /* cursor: url("/img/cursor/terminal_cursor.png"), auto; */
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: linear;
  width: 100%;
  height: 100vh;
}

a {
  color: var(--orange-color);
  text-decoration: underline;
  /* text-decoration: none; */
  /* cursor: url("/img/cursor/terminal_cursor_pointer.png"), auto; */
}

/* BACKGROUND GRID */

section.plus-pattern-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
/* 
  background-color: var(--background-color);
  background-image: 
    radial-gradient(circle, transparent 0.25rem, var(--background-color) 0.25rem),
    linear-gradient(var(--background-plus-color) 0.1rem, transparent 0.1rem),
    linear-gradient(90deg, var(--background-plus-color) 0.1rem, transparent 0.1rem);
  background-size: 8.25rem 8rem;
  background-position: 6.4rem 6.3rem, 2.5rem 2.225rem, 2.225rem 2.5rem; */

  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
  background-size: cover;

  background-image: url("/img/topographic_map.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; */
  
  overflow-y: hidden;
}

.plus-pattern-container > div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.66);

}

.back-video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;

}

/* HERO */

.hero-button {
  font-size: 1.5rem;
  color: white;
  display: inline-block;
  border: solid var(--border-color) 3px;
  background-color: rgba(0, 0, 0, 0.5);

  
  padding: 15px 25px 15px 25px;
}

.hero-button:hover {
  color: rgb(173, 173, 173);
  cursor: pointer;
}

/* PROJECTS GRID */
.angry-grid {
  display: grid; 

  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  
  grid-template-areas: 
  'header header header'
  'project-1 project-2 project-3'
  'project-4 . .';
  
  gap: 25px;

  height: 90%;
  width: min(95%, 100rem);
  
}

.angry-grid > div {
  border: 1px #808080  solid;
  border-radius: 15px;

  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.75);
}

#item-0 {
  grid-area: header;
}
#item-1 {
  grid-area: project-1;
}
#item-2 {
  grid-area: project-2;
}
#item-3 {
  grid-area: project-3;
}
#item-4 {
  grid-area: project-4;
}

/* HEADER */
.header-row-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-row-container-item {
  margin: 28px;
}

.header {
  font-size: 2rem;
}

.header > span {
  font-size: 1.5rem;
}

.header > span > span {
  color: #ffd900;
}

.header-socials-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.header-divider {
  background-color: var(--gold-color);
  width: 2px;
  height: 50%;
  margin-left: 0;
  margin-right: 0;
}

.header-socials-container > .socials-item {
  font-size: 2rem;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.social-item-middle {
  margin: 0px 12px 0px 12px;
}

.cv {
  width: 32px;
}

/* PROJECT 1 */
.project-1 {
}

/* PROJECT 2 */

/* PROJECT 3 */

/* PROJECT 4 */

/* PROJECT ITEMS */
.project-item {
  overflow: hidden;
  position: relative;
  
  /* DON'T REMOVE THIS MAGIC LINE! If you do, you're gonna have a bad time... */
  container-type: inline-size;
}

.project-item-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.project-description-widget {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);

  width: 95%;
  justify-content: flex-start;
  align-items: center;

  display: flex;
  flex-direction: row;
}

.project-description-widget-inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
}

.project-description-title {
  /* font-size: 22px; */
  font-size: 4.5cqw;
  font-weight: 700;
  margin-bottom: 8px;
  background-color: rgb(0, 0, 0, 0.75);
  padding: 5px;
}

.project-details-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project-description-button {
  background-color: var(--border-color);
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  
  color: white;
  font-size: 3.5cqw;
  font-weight: 400;
}

.project-description-button:hover {
  cursor: pointer;
}

.img-wrap  {
  width: 10cqw;
  height: 10cqw;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-left: 12px;
}

.project-software-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f0f0f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* STICKY BAR */
.screen {
  border: 3px solid var(--border-color);
  background-color: rgba(0, 0, 0, 0.5);
  /* border-radius: 0.6em; */
}

/* .screen:after,
.screen:before {
  content: "";
  height: 5px;
  position: absolute;
  z-index: 4;
  left: 50%;
  translate: -50% 0%;
  background-color: white;
  box-shadow: 0px 0px 10px 1px var(--white-glow);
}

.screen:before {
  width: 65%;
  top: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.screen:after {
  width: 45%;
  bottom: 0rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
} */

.stickybar {
  position: fixed;
  top: 40%;
  left: 0.5%;
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 0;
  z-index: 3;
  color: black;
}

.stickybar-item {
  padding: 15px;
}

.stickybar-item-top {
  padding-bottom: 10px;
}

.stickybar-item-bottom {
  padding-top: 10px;
}

.stickybar-item > i {
  font-size: 2em;
  display: block;
  color: white;

  /* text-shadow: 0px 0px 0.5rem var(--white-glow); */
}

/* FOOTER */
.footer-wrap {
  display: none;
}

/* MEDIA QUERY */

@media (max-width: 1200px) {
  /* CHANGE THE BEHAVIOR OF THE GRID HERE */
  .angry-grid {
    grid-template-rows: 100px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    
    grid-template-areas: 
    'header header'
    'project-1 project-2'
    'project-3 project-4';
  }

  .project-description-title {
    /* font-size: 22px; */
    font-size: 5cqw;
    font-weight: 700;
  }
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 640px) {
  /* CHANGE THE BEHAVIOR OF THE GRID HERE */
  .angry-grid {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    
    grid-template-areas: 
    'header header header'
    'project-1 project-1'
    'project-2 project-2'
    'project-3 project-3';
  }

  .project-description-title {
    /* font-size: 22px; */
    font-size: 5cqw;
    font-weight: 700;
  }

  .project-description-button {
    font-size: 4cqw;
  }

  .header-row-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }

  .header-row-container-item {
    margin-bottom: 0;
  }

  .header-socials-container {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .header-divider {
    /* display: none;
     */
    width: 90%;  
    margin-top: 15px;
    margin-bottom: 15px;
    height: 2px;
  }
  
}

/* TEXT */

.highlighted-text {
  color: var(--orange-color);
}