.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.project-card-wrap {
  border-radius: 15px;
}

.project-image {
  width: 100%;
  border-radius: 15px;
}

.project-info-wrap {
  display: flex;
  flex-direction: row;
  padding: 3%;
  padding-top: 0;
  padding-bottom: 0;
}

.project-title {
  font-size: 1.05em;
  margin: 0;
  flex: 1;
}

.project-tag {
  display: inline-block;
}

.project-tag span {
  color: #797979;
}