:root {
  /* BACKGROUND GRID */
  --background-color: #0f0f0f;
  --background-plus-color: #193364;

  /* GENERAL */
  --orange-color: #F19D38;

  /* COLOR PALETTE*/
  --palette-green-color: #0afe60;
  --palette-greendark-color: #021609;
}


/* SECTIONS */
.project-section-top {
  margin-top: 128px;
}

.project-description-content {
  
}


p {
  font-size: 1.25em;
}

.projectpage-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.projectpage-section {
  display: block;
  max-width: 60%;
  min-width: 60%;
}

.projectpage-section > p {
  margin-top: 0;
  font-size: 1.25em;
}

.projectpage-section-centered {
  text-align: center;
}

.projectpage-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projectpage-header-wrapper > h1 {
  display: flex;
  justify-content: start;
  font-size: 1.75em;
}

.projectpage-header-wrapper > h1 > a {
  font-size: 16px;
  margin-left: 6px;
}

hr {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
}

/* PROJECT GRID GALLERY */
.projectpage-image-grid-wrapper {
  width: 100%;
  /* border: 1px solid red; */

  margin-top: 16px;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-content: center;
}

.projectpage-image-grid-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.projectpage-image-block a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.projectpage-image-block:hover {
  border: dashed 2px red;
  border-style: dashed;
}

.projectpage-image-block {
  overflow: hidden;
  width: 300px;
  height: 192px;
  position: relative;
  border: 2px solid green;
  border-radius: 8px;
  border-style: dashed;
}

.projectpage-hor-ver-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.projectpage-hor-var-content-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 16px;
}

.projectpage-image-right {
  width: 100px;
  height: 100px;
  margin-right: 32px;
}

/* MEDIA QUERY */
@media (max-width: 1500px) {
  .projectpage-section {
    max-width: 75%;
    min-width: 75%;
  }
}

@media (max-width: 1200px) {
  .projectpage-section {
    max-width: 75%;
    min-width: 75%;
  }
}

@media (max-width: 1000px) {
  .projectpage-section {
    max-width: 85%;
    min-width: 85%;
  }
}