:root {
  /* BACKGROUND GRID */
  --background-color: #0f0f0f;
  --background-plus-color: #193364;

  /* GENERAL */
  --orange-color: #F19D38;

  /* COLOR PALETTE*/
  /* --palette-greendark-color: #021609; */
  /* --palette-greendark-color: hsl(100, 25%, 10%); */
}

* {
  font-family: 'Sansation-Regular';
}

/* Project Text Styles */
p {
  font-size: 1.25em;
}

.project-text-header {
  font-weight: normal;
  font-size: 2.5rem;
}

.bold {
  font-weight: bold;
}

.project-text-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  text-align: left;
}

.project-text-section-left {
  display: flex;
  flex-direction: column;
  text-align: left;

  gap: 8px;
}

.project-text-section-left p {
  max-width: 850px;
}

.project-text-section p {
  max-width: 750px;
}

/* Top Background Image */
.project-top-image-bg-wrapper {
  margin-top: 64px;

  position: absolute;
  z-index: -999;

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.project-top-image-bg-wrapper img {
  height: 100%;
}

.project-top-image-bg-gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0.5) 100%); 
}

/* Sections */
.projectpage-main {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 96px;

  padding: 200px 0px 0px;
}

.project-hero {
  width: 100%;
  height: 100vh;
}

.project-section-top {

}

.project-section {
  display: block;
  max-width: 100%;
  width: 70%;
  /* min-width: 70%; */

  border-left: 2px var(--palette-greendark-color) solid;
  padding-left: 48px;
}

/* Description */
.project-desc-content {
  width: 100%;
}

.project-desc-header {
  color: white;
  font-size: 4rem;
}

.project-header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 64px;
}

.project-asset-disclaimer {
  font-size: 1.5rem;
  color: var(--gray-text-color);
}

.project-desc-details-wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}

.project-desc-item {
  text-align: left;
  min-width: 128px;
  max-width: 256px;
  width: 256px
}

.project-desc-item-header {
  font-weight: bold;
}

.project-desc-item-text {
  color: rgb(100, 100, 100);
}

/* Video Player */
.project-video-player-wrapper {
  padding: 32px; 
  background-color: #1A1A1A; 
  border-radius: 32px;
}

/* Image Styles */
.project-images-wrapper {
  margin-top: 64px;
  width: 100%;
}

.project-images-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.project-image-container {
}

.project-image {
  display: block;
  object-fit: contain;
  max-height: 400px;
  width: 100%;
  height: 100%;

  border: 2px solid var(--palette-greendark-color);
  border-radius: 32px;

  cursor: pointer;
}

.project-image-wide {
  display: block;
  object-fit: contain;
  max-width: none;
  width: 100%;
  height: 100%;

  border: 2px solid var(--palette-greendark-color);
  border-radius: 32px;

  cursor: pointer;
}

/* Project Reflection */
.project-reflection {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.project-reflection h1 {
  font-size: 3rem;
  letter-spacing: 4px;
  text-align: left;
  
  width: 100%;
}

/* PROJECT GRID GALLERY */
.projectpage-image-grid-wrapper {
  width: 100%;
  /* border: 1px solid red; */

  margin-top: 16px;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-content: center;
}

.projectpage-image-grid-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.projectpage-image-block a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.projectpage-image-block:hover {
  border: dashed 2px red;
  border-style: dashed;
}

.projectpage-image-block {
  overflow: hidden;
  width: 300px;
  height: 192px;
  position: relative;
  border: 2px solid green;
  border-radius: 8px;
  border-style: dashed;
}

.projectpage-hor-ver-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.projectpage-hor-var-content-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 16px;
}

.projectpage-image-right {
  width: 100px;
  height: 100px;
  margin-right: 32px;
}

hr {
  border: 1px solid var(--palette-greendark-color);
}

/* MEDIA QUERY */
/* @media (max-width: 1500px) {
  .project-section {
    max-width: 75%;
    min-width: 75%;
  }
}

@media (max-width: 1200px) {
  .project-section {
    max-width: 75%;
    min-width: 75%;
  }
}

@media (max-width: 1000px) {
  .project-section {
    max-width: 85%;
    min-width: 85%;
  }
} */